{% extends 'developenv/base.html' %}

{% block title %}status{% endblock %}
{% block header-title %}小车状态{% endblock %}

{% block content %}
    <div class="status-title">
        <p>小车状态</p>
    </div>
    <div class="status-table">
        <table class="table table-bordered table-hover">
            <thead class="thead">
            <tr>
                <th>id</th>
                <th>目的地</th>
                <th>起始地</th>
                <th>终点地</th>
                <th>储物箱</th>
                <th>当前时间</th>
                <th>导航状态</th>
                <th>导航服务</th>
                <th>导航地址</th>
            </tr>
            </thead>
            <tbody class="tbody">
            {% for st in status %}
                <tr>
                    <td>{{ st.car_id}}</td>
                    <td>{{ st.path_start }}</td>
                    <td>{{ st.path_end }}</td>
                    <td>{{ st.box }}</td>
                    <td>{{ st.current_time }}</td>
                    <td>{{ st.nav_status }}</td>
                    <td>{{ st.nav_service }}</td>
                    <td>{{ st.nav_location }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
